@import url('https://fonts.googleapis.com/css2?family=Concert+One&display=swap');
@import 'tailwindcss';

body {
	font-family: 'Concert One', sans-serif;
	font-weight: 200;
	font-style: normal;
	background-color: #bde0fe;
}

@theme {
	--color-purple-800: #ab80c2;
	--color-pink-800: #ff95bd;
	--color-blue-600: #8bc8fd;
	--color-blue-800: #6fb9ff;
	--color-mint-800: #5ae0a7;
	--color-purple-500: #cdb4db;
	--color-pink-500: #ffafcc;
	--color-pink-300: #ffc8dd;
	--color-blue-500: #bde0fe;
	--color-blue-400: #a2d2ff;
	--color-mint-500: #9aecc9;
	--color-white: #ffffff;
}

@layer base {
	:root {
		--background: 0 0% 100%;
		--foreground: 224 71.4% 4.1%;
		--card: 0 0% 100%;
		--card-foreground: 224 71.4% 4.1%;
		--popover: 0 0% 100%;
		--popover-foreground: 224 71.4% 4.1%;
		--primary: 262.1 83.3% 57.8%;
		--primary-foreground: 210 20% 98%;
		--secondary: 220 14.3% 95.9%;
		--secondary-foreground: 220.9 39.3% 11%;
		--muted: 220 14.3% 95.9%;
		--muted-foreground: 220 8.9% 46.1%;
		--accent: 220 14.3% 95.9%;
		--accent-foreground: 220.9 39.3% 11%;
		--destructive: 0 84.2% 60.2%;
		--destructive-foreground: 210 20% 98%;
		--border: 220 13% 91%;
		--input: 220 13% 91%;
		--ring: 262.1 83.3% 57.8%;
		--radius: 0.5rem;
	}

	.dark {
		--background: 224 71.4% 4.1%;
		--foreground: 210 20% 98%;
		--card: 224 71.4% 4.1%;
		--card-foreground: 210 20% 98%;
		--popover: 224 71.4% 4.1%;
		--popover-foreground: 210 20% 98%;
		--primary: 263.4 70% 50.4%;
		--primary-foreground: 210 20% 98%;
		--secondary: 215 27.9% 16.9%;
		--secondary-foreground: 210 20% 98%;
		--muted: 215 27.9% 16.9%;
		--muted-foreground: 217.9 10.6% 64.9%;
		--accent: 215 27.9% 16.9%;
		--accent-foreground: 210 20% 98%;
		--destructive: 0 62.8% 30.6%;
		--destructive-foreground: 210 20% 98%;
		--border: 215 27.9% 16.9%;
		--input: 215 27.9% 16.9%;
		--ring: 263.4 70% 50.4%;
	}
}
